<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <form (submit)="doSignup()" [formGroup]="signupform">
    <ion-list>

      <ion-item no-lines>
        <img src="assets/img/logoLogin.png" class="logoSignup" />
      </ion-item>

      <ion-item class="inputText">
        <ion-label style="padding-left: 8px;">Sign Up As</ion-label>
        <ion-select [(ngModel)]="account.userType" formControlName="userType">
          <ion-option value="USER_TEAM">Team</ion-option>
          <ion-option value="USER_STADION">Stadion</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.idCard" placeholder="ID Card" clearInput type="text" formControlName="idCard" [class.error1]="!signupform.controls.idCard.valid && signupform.controls.idCard.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('idCard').hasError('minlength') || signupform.get('idCard').hasError('maxlength') ||signupform.get('idCard').hasError('pattern') ||signupform.get('idCard').hasError('required') ) && signupform.get('idCard').touched">
        <div class="error" *ngIf="signupform.get('idCard').hasError('required') && signupform.get('idCard').touched">
          Please input your ID Card
        </div>
        <div class="error" *ngIf="signupform.get('idCard').hasError('minlength') && signupform.get('idCard').touched">
          Minimum 5 characters
        </div>
        <div class="error" *ngIf="signupform.get('idCard').hasError('maxlength') && signupform.get('idCard').touched">
          Maximum 20 characters
        </div>
        <div class="error" *ngIf="signupform.get('idCard').hasError('pattern') && signupform.get('idCard').touched">
          ID Card invalid
        </div>
      </ion-item>
      

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.username" placeholder="Username" clearInput type="text" formControlName="username" [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
        <div class="error" *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
          Please input your Username
        </div>
        <!-- <div class="error" *ngIf="signupform.get('username').hasError('minlength') && signupform.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signupform.get('username').hasError('maxlength') && signupform.get('username').touched">
          Maximum 20 characters
        </div> -->
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.email" placeholder="Email" clearInput type="email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('maxlength') ||signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          Please input your E-Mail
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('minlength') && signupform.get('email').touched">
          Minimum 1 characters
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('maxlength') && signupform.get('email').touched">
          Maximum 50 characters
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          Email address invalid
        </div>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.teamName" placeholder="Team Name" clearInput type="teamName" formControlName="teamName" [class.error1]="!signupform.controls.teamName.valid && signupform.controls.teamName.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('teamName').hasError('minlength') || signupform.get('teamName').hasError('maxlength') ||signupform.get('teamName').hasError('pattern') ||signupform.get('teamName').hasError('required') ) && signupform.get('teamName').touched">
        <div class="error" *ngIf="signupform.get('teamName').hasError('required') && signupform.get('teamName').touched">
          Please input your Team Name
        </div>
        <div class="error" *ngIf="signupform.get('teamName').hasError('minlength') && signupform.get('teamName').touched">
          Minimum 5 characters
        </div>
        <div class="error" *ngIf="signupform.get('teamName').hasError('maxlength') && signupform.get('teamName').touched">
          Maximum 15 characters
        </div>
        <div class="error" *ngIf="signupform.get('teamName').hasError('pattern') && signupform.get('teamName').touched">
          Team Name invalid
        </div>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.address" placeholder="Address" clearInput type="address" formControlName="address" [class.error1]="!signupform.controls.address.valid && signupform.controls.address.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('address').hasError('minlength') || signupform.get('address').hasError('maxlength') ||signupform.get('address').hasError('pattern') ||signupform.get('address').hasError('required') ) && signupform.get('teamName').touched">
        <div class="error" *ngIf="signupform.get('address').hasError('required') && signupform.get('address').touched">
          Please input your Address
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('minlength') && signupform.get('address').touched">
          Minimum 5 characters
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('maxlength') && signupform.get('address').touched">
          Maximum 250 characters
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('pattern') && signupform.get('address').touched">
          Address invalid
        </div>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.contactNo" placeholder="Contact Number" clearInput type="contactNo" formControlName="contactNo" [class.error1]="!signupform.controls.contactNo.valid && signupform.controls.contactNo.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('contactNo').hasError('minlength') || signupform.get('contactNo').hasError('maxlength') ||signupform.get('contactNo').hasError('pattern') ||signupform.get('contactNo').hasError('required') ) && signupform.get('teamName').touched">
        <div class="error" *ngIf="signupform.get('contactNo').hasError('required') && signupform.get('contactNo').touched">
          Please input your Contact Number
        </div>
        <div class="error" *ngIf="signupform.get('contactNo').hasError('minlength') && signupform.get('contactNo').touched">
          Minimum 1 characters
        </div>
        <div class="error" *ngIf="signupform.get('contactNo').hasError('maxlength') && signupform.get('contactNo').touched">
          Maximum 15 characters
        </div>
        <div class="error" *ngIf="signupform.get('contactNo').hasError('pattern') && signupform.get('contactNo').touched">
          Contact Number invalid
        </div>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="account.password" placeholder="Password" clearInput type="password" formControlName="password" [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('pattern') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error" *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          Please input your Password
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="signupform.get('password').hasError('pattern') && signupform.get('password').touched">
          Password invalid
        </div>
      </ion-item>

      <ion-item class="inputText">
        <ion-input [(ngModel)]="validatePassword.repassword" placeholder="Re-Password" clearInput type="password" formControlName="repassword"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item> -->

      <!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <!-- <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item> -->

      <div class="signupButton">
        <button ion-button color="colorGreen" block class="buttonSignup" >{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

      <div style="text-align: center;padding-top: 20px;color: #000;">
        <span>
          Have Account ?
          <a (click)="loginPage()" color="colorGreen">Login</a>
        </span>
      </div>
    </ion-list>
  </form>
</ion-content>
