<!--
  Generated template for the ListBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>List Booking Stadion</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <div>
      <ion-segment [(ngModel)]="booking">
        <ion-segment-button value="booked" (click)="LoadData('BOOKED');">
          BOOKED
        </ion-segment-button>
        <ion-segment-button value="paid" (click)="LoadData('PAID')">
          PAID
        </ion-segment-button>
        <ion-segment-button value="completed" (click)="LoadData('COMPLETED')">
          COMPLETED
        </ion-segment-button>
        <ion-segment-button value="rejected" (click)="LoadData('REJECTED')">
          REJECTED
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <div [ngSwitch]="booking">
  
      <ion-list *ngSwitchCase="'booked'">
       
        <div *ngIf="!bookingList.length">
          <p>Booked</p>
        </div>

        <div *ngIf="bookingList.length">
          <ion-item *ngFor="let list of bookingList" (click)="detailBookingStadion(list)">
            <ion-card *ngIf="list.status==='BOOKED'">
              <ion-card-header>
                {{list.bookingCode}}
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>{{list.startTime}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>{{list.endTime}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </div>
      </ion-list>
  
      <ion-list *ngSwitchCase="'paid'">
        <div *ngIf="!bookingList.length">
          <p>Completed</p>
        </div>
        <div *ngIf="bookingList.length">
          <ion-item *ngFor="let list of bookingList" (click)="detailBookingStadion(list)">
            <ion-card>
              <ion-card-header>
                {{list.bookingCode}}
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>{{list.startTime}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>{{list.endTime}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </div>
  
      </ion-list>


      <ion-list *ngSwitchCase="'completed'">
        <div *ngIf="!bookingList.length">
          <p>Completed</p>
        </div>
        <div *ngIf="bookingList.length">
          <ion-item *ngFor="let list of bookingList" (click)="detailBookingStadion(list)">
            <ion-card>
              <ion-card-header>
                {{list.bookingCode}}
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>{{list.startTime}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>{{list.endTime}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </div>
  
      </ion-list>
  
      <ion-list *ngSwitchCase="'rejected'">
        <div *ngIf="!bookingList.length">
          <p>Rejected</p>
        </div>
        <div *ngIf="bookingList.length">
          <ion-item *ngFor="let list of bookingList" (click)="detailBookingStadion(list)">
            <ion-card>
              <ion-card-header>
                {{list.bookingCode}}
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>{{list.startTime}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>{{list.endTime}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </div>
  
      </ion-list>
  
    </div>
  </ion-content>
  